*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #ffffff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-content: center;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  align-self: center;
  gap: 30px;
  width: 1140px;
}

.title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 75px;
  line-height: 70.5px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible .content__video-card {
  outline: #ffffff 1px solid;
  outline-offset: -1px;
}


.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding-bottom: 6px;
}

.content__video-card-description {
  line-height: 16px;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 3px;
}

.result__video-container {
  width: 711px;
  min-height: 386px;
  margin-bottom: 18px;
}

.result__video {
  width: 100%;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form {
  display: flex;
  justify-content: space-between;
  justify-items: stretch;
  align-items: end;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.search-form__textfield {
  border: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  appearance: none;
  background-color: transparent;
  font: inherit;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.7);
  width: 255px;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: #ffffff 1px solid;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  border: 1px #ffffff solid;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  display: block;
  align-content: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  background-color: #ffffff;
  display: block;
  width: 15px;
  height: 15px;
  margin: auto;
}

.search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button {
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: -3px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.content__list-container {
  margin-top: 26px;
  max-height: 298px;
  overflow-y: scroll;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-description-container {
  width: 196px;
}

.content__video-card-thumbnail {
  width: 194px;
}

.content__card-link_current .content__video-card-description-container {
  background-color: #545050;
}

.more-button {
  margin-top: 30px;
  height: 34px;
  width: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
